<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/info" method="POST">
    {% csrf_token %}
    <div>
        <label for="start_date">Choose start date?</label>
        <input name="start_date" id="start_date" value="">
    </div>
    <div>
        <label for="price">Add price?</label>
        <input name="price" id="price" value="">
    </div>
    <div>
        <button>Send my greetings</button>
    </div>
</form>
</body>
</html>
