<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Display info about route</h1>{% csrf_token %}
<lable class="123">Select country</lable>
<br>
    <select>

    <option disabled="True" selected>---select route---</option>
    {% for result in details %}
        <option>{{ result.country }}</option>
    {% endfor %}
    </select>
    <form action="" method="POST">
    <button type="submit" name="submit">Submit</button>
    </form>


</table>
</body>
</html>