<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block title %}Routes{% endblock %}
    <p><------Не доделано-----></p>
    {% block content %}
        <ul>
            {% for itm in result %}
            <li>
                {Country: {{ itm.country }}, Location: {{ itm.location }},
                Description: {{ itm.descriprtion }}, Duration: {{ itm.duration }},
                Stop point: {{ itm.stopping_point }}, Route type: {{ itm.route_type }},
                Start: {{ itm.start }}, Finish: {{ itm.finish }}}
            </li>
            {% endfor %}
        </ul>
    {% endblock %}
</body>
</html>
