<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block title %}Main page{% endblock %}

{% block content %}
    <br>
    <form action="/filter_route" method="GET" class="container">
{#        {% csrf_token %}#}
        <div class="row justify-content-center">
            <div class="col-lg-2 col-sm-4">
                <select class="form-select" aria-label="Default select example" id="sport" required>
                    <option value="" disabled selected hidden>Choose a route</option>
                    <option value="car">Car</option>
                    <option value="bicycle">Bicycle</option>
                    <option value="foot">Foot</option>
                </select>
            </div>
            <div class="col-lg-6 col-sm-7 d-flex">
                <input class="form-control me-2" type="text" name="country" placeholder="County" aria-label="country"
                       required>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </div>
    </form>


{% endblock %}
</head>
</body>