<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
{% csrf_token %}
<button onclick="window.location.href='http://127.0.0.1:8000/login'">Login</button>
<button onclick="window.location.href='http://127.0.0.1:8000/logout'">Logout</button>
<button onclick="window.location.href='http://127.0.0.1:8000/app/create_route'">Create Route</button>
<button onclick="window.location.href='http://127.0.0.1:8000/app/car'">Filter by car</button>
<button onclick="window.location.href='http://127.0.0.1:8000/app/foot'">Filter by foot</button>
<br>


{% block content %}
    <table>
    <caption> Info about route</caption>
    <tr>
        <th>Country</th>
        <th>Location</th>
        <th>Description</th>
        <th>Duration</th>
        <th>Route type</th>
        <th>Event Admin</th>
        <th>Event Users</th>
        <th>Price</th>
        <th>Start date</th>
    </tr>
        {% for route in routes %}
    <tr>
        <td>{{ route.country }}</td>
        <td>{{ route.location }}</td>
        <td>{{ route.description }}</td>
        <td>{{ route.duration }}</td>
        <td>{{ route.route_type }}</td>
        <td>{{ route.event_admin }}</td>
        <td>{{ route.event_users }}</td>
        <td>{{ route.price }}</td>
        <td>{{ route.start_date }}</td>

    </tr>
    {% endfor %}
    </table>

    {% if routes.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page{{ routes.previous_page_number }}">Privious</a>
    {% endif %}
    {% for num in routes.paginator.page_range %}
        {% if routes.number == num %}
            <a class="btn btn-info mb-4" href="?page{{ num }}">{{ num }}</a>
        {% elif num > routes.number|add:'-1' and  num < routes.number|add:'1' %}
            <a class="btn btn-info mb-4" href="?page{{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if routes.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ routes.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page{{ routes.paginator.num_pages }}">Last</a>
    {% endif %}
{% endblock content %}
</body>
</html>